<!--<button (click)=upload() type="button" class="btn btn-lg btn-carta">
    Ver más...
  </button>
<h1>{{data.temperature}}</h1>-->

<div class="card w-50" *ngFor="let grupo of grupos; let i = index;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <button (click)=upload(i) class="btn btn-primary">Button</button>
    </div>
</div>