<div>
    <div>
        <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
        </div>
        <button (click)=upload() type="button" class="btn btn-lg btn-carta">
            Ver más...
          </button>
    </div>
</div>